<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/aboutpage.css">
        <link rel="icon" type="image/png" href="/icons/logo.png" sizes="32x32">
        <title>About Us</title>
    </head>

    <body>
        <section class="centered-content">
            <div class="circle"></div>
            <div class="content">
                <div class="textBox">
                    <h2>Where Taste Meets Convenience <br> It's <span>Lasallian's Food to Pick</span> </h2>
                    <p>
                        Welcome to Lasallian's Food to Pick, your go-to platform for exploring the diverse 
                        and budget-friendly culinary scene around De La Salle University-Manila (DLSU). As 
                        passionate food enthusiasts and students ourselves, we provide honest and unbiased 
                        reviews of nearby restaurants, ensuring you savor delicious meals without breaking 
                        the bank. Join our community of food lovers, discover hidden gems, and support local 
                        businesses as we embark on a delightful gastronomic adventure together. Let your taste 
                        buds rejoice with Lasallian's Food to Pick!
                    </p>
                    <a href="#" onclick="goToMain()">Go Back to Main Page</a>

                    <script>
                    function goToMain() {
                        window.location.href = "main"; // Replace "main.html" with the URL of your main page
                    }
                    </script>
                </div>
                <div class="imgBox">
                    <img src="/icons/aboutpage.png" class="reviewpic">
                </div>
            </div>
        </section>

        <div class="box">
            <div class="gallery">
                <input type="checkbox" >
                <div class="box-content">bcrypt: ^5.1.0</div>
                <div class="box-content" id="note">body-parser: ^1.20.2</div>
                <div class="box-content">cors: ^2.8.5</div>
                <div class="box-content">dotenv: ^16.3.1</div>
                <div class="box-content">express: ^4.18.2</div>
                <div class="box-content">express-flash: ^0.0.2 and express-session: ^1.17.3</div>
                <div class="box-content">hbs: ^4.2.0</div>
                <div class="box-content">mongodb: ^5.7.0</div>
                <div class="box-content">mongoose: ^7.4.0</div>
            </div>
        </div>
    </body>
</html>
