<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/icons/logo.png" sizes="32x32">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">

    <style>
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            background: linear-gradient(135deg, #ACDF87, #1E5631);
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/login.js" defer></script>

    <title>Login Page</title>
</head>

<body>
    <div id="error-container-login"></div>

    <div class="container2">
        <div class="inner-container2">
            <div class="title">Login</div>

            <form action="/login" method="post">
                <div class="user-details">
                    <div class="input">
                        <input type="text" id="username" class="username" name="username" placeholder="Username" required>
                    </div>

                    <div class="input">
                        <input type="password" id="password" class="password" name="password" placeholder="Password" required>
                    </div>

                    <div class="remember">
                        <input type="checkbox" id="rememberMe" name="rememberMe" value="true">
                        <label for="remember-me">Remember me</label>
                    </div>
                </div>

                <div class="submit-button">
                    <input type="submit" id="submit-button" value="Login">
                </div>
            </form>

            <div class="register-link">Not a member? <a href="/register">Register here</a></div>

        </div>
    </div>
</body>

<script>
    function setRememberMeData() {
        const rememberCheckbox = document.getElementById("remember-me");
        const usernameInput = document.querySelector(".username");

        if (rememberCheckbox.checked) {
            const expirationDate = new Date();
            expirationDate.setDate(expirationDate.getDate() + 21); 
            document.cookie = `rememberedUsername=${usernameInput.value}; expires=${expirationDate.toUTCString()}`;

            localStorage.setItem("rememberedUsername", usernameInput.value);

            console.log(expirationDate);
        } else {
            document.cookie = "rememberedUsername=; expires=Thu, 01 Jan 1970 00:00:00 UTC;";
            localStorage.removeItem("rememberedUsername");
        }
    }

    function loadRememberedUsername() {
        const rememberedUsernameLocalStorage = localStorage.getItem("rememberedUsername");
        const rememberedUsernameCookie = getCookie("rememberedUsername");
        const usernameInput = document.querySelector(".username");

        const rememberedUsername = rememberedUsernameLocalStorage || rememberedUsernameCookie;

        if (rememberedUsername) {
            usernameInput.value = rememberedUsername;
        }
    }

    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) return parts.pop().split(";").shift();
    }

    document.addEventListener("DOMContentLoaded", loadRememberedUsername);
    document.querySelector(".submit-button").addEventListener("click", setRememberMeData);
</script>
</html>